In [6]:
import pandas as pd
import numpy as np

dados = pd.read_json(path_or_buf='imoveis.json', orient='columns')
dados.ident[0]
dados.listing[0]

{'types': {'unit': 'Outros', 'usage': 'Residencial'},
 'address': {'city': 'Rio de Janeiro',
  'location': {'lon': -43.413557, 'lat': -22.909429},
  'zone': 'Zona Oeste',
  'neighborhood': 'Taquara'},
 'prices': {'price': '45000', 'tax': {'iptu': '0', 'condo': '150'}},
 'features': {'bedrooms': 0,
  'bathrooms': 0,
  'suites': 0,
  'parkingSpaces': 1,
  'usableAreas': '62',
  'totalAreas': '62',
  'floors': 0,
  'unitsOnTheFloor': 0,
  'unitFloor': 0}}

In [7]:
dados_lista1 = pd.json_normalize(dados.ident)
dados_lista1.head()

        customerID   source
0  775564-BOJSMVON  Website
1  660895-AUENKNYY  Website
2  751522-JESYFEQL  Website
3  714052-GAAEWYKS  Website
4  568886-ZIBFOMCC  Website

In [8]:
dados_lista2 = pd.json_normalize(dados.listing)
dados_lista2.head()

,types.unit,types.usage,address.city,address.location.lon,address.location.lat,address.zone,address.neighborhood,prices.price,prices.tax.iptu,prices.tax.condo,features.bedrooms,features.bathrooms,features.suites,features.parkingSpaces,features.usableAreas,features.totalAreas,features.floors,features.unitsOnTheFloor,features.unitFloor
0,Outros,Residencial,Rio de Janeiro,-43.413557,-22.909429,Zona Oeste,Taquara,45000,0,150,0,0,0,1,62,62,0,0,0
1,Apartamento,Residencial,Rio de Janeiro,-43.509141,-22.869698,Zona Oeste,Santíssimo,45000,0,120,2,1,0,1,44,0,0,0,0
2,Outros,Residencial,Rio de Janeiro,-43.646786,-22.986927,Zona Oeste,Pedra de Guaratiba,50000,0,100,0,0,0,0,132,132,0,0,0
3,Outros,Comercial,Rio de Janeiro,-43.330818,-22.881977,Zona Norte,Cascadura,45000,346,468,0,1,0,0,32,32,0,0,3
4,Apartamento,Residencial,Rio de Janeiro,-43.480742,-23.027653,Zona Oeste,Recreio dos Bandeirantes,50000,120,400,3,2,1,1,60,0,3,4,2

In [9]:
dados_moveis = pd.concat([dados_lista1, dados_lista2], axis= 1)
dados_moveis.head()

,customerID,source,types.unit,types.usage,address.city,address.location.lon,address.location.lat,address.zone,address.neighborhood,prices.price,...,prices.tax.condo,features.bedrooms,features.bathrooms,features.suites,features.parkingSpaces,features.usableAreas,features.totalAreas,features.floors,features.unitsOnTheFloor,features.unitFloor
0,775564-BOJSMVON,Website,Outros,Residencial,Rio de Janeiro,-43.413557,-22.909429,Zona Oeste,Taquara,45000,...,150,0,0,0,1,62,62,0,0,0
1,660895-AUENKNYY,Website,Apartamento,Residencial,Rio de Janeiro,-43.509141,-22.869698,Zona Oeste,Santíssimo,45000,...,120,2,1,0,1,44,0,0,0,0
2,751522-JESYFEQL,Website,Outros,Residencial,Rio de Janeiro,-43.646786,-22.986927,Zona Oeste,Pedra de Guaratiba,50000,...,100,0,0,0,0,132,132,0,0,0
3,714052-GAAEWYKS,Website,Outros,Comercial,Rio de Janeiro,-43.330818,-22.881977,Zona Norte,Cascadura,45000,...,468,0,1,0,0,32,32,0,0,3
4,568886-ZIBFOMCC,Website,Apartamento,Residencial,Rio de Janeiro,-43.480742,-23.027653,Zona Oeste,Recreio dos Bandeirantes,50000,...,400,3,2,1,1,60,0,3,4,2

In [10]:
dados_moveis.shape #dimensões do nosso dataframe

(73615, 21)

In [15]:
for coluna in dados_moveis.columns:
    print('----' * 10)
    print(dados_moveis['types.usage'])

----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object
----------------------------------------
0        Residencial
1        Residencial
2        Residencial
3          Comercial
4        Residencial
            ...
73610    Residencial
73611    Residencial
73612    Residencial
73613    Residencial
73614    Residencial
Name: types.usage, Length: 73615, dtype: object